.grid-container {
    display: grid;
    /* place-items: center; */
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);
}

/* .border {
    background-color: black;
} */

.player-turn {
    font-size: 5rem;
    background-color: white;
    min-height: 4rem;
}

.cell {
    background-color: #ccc;
    padding: 10px;
    height: 10rem;
    line-height: 10rem;
    text-align: center;
    align-items: center;
    font-size: 4rem;
    color: blue;
}

#player-turn {
    text-align: center;
    align-items: center;
}

#modal {
    display: none; /* Initially hidden */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  #modal-content input {
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  #modal-content button {
    padding: 10px 20px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  #modal-content button:hover {
    background: #218838;
  }